# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Settings
settings.development.json
settings.production.json

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof


# FrontEnd
FrontEnd/dist
FrontEnd/tmp
FrontEnd/out-tsc

# dependencies
FrontEnd/node_modules

# IDEs and editors
FrontEnd/.idea
FrontEnd.project
FrontEnd.classpath
FrontEnd.c9/
*.launch
FrontEnd.settings/
*.sublime-workspace

# IDE - VSCode
FrontEnd.vscode/*
!FrontEnd.vscode/settings.json
!FrontEnd.vscode/tasks.json
!FrontEnd.vscode/launch.json
!FrontEnd.vscode/extensions.json

# misc
FrontEnd/.sass-cache
FrontEnd/connect.lock
FrontEnd/coverage
FrontEnd/libpeerconnection.log
FrontEnd/npm-debug.log
FrontEnd/testem.log
FrontEnd/typings

# e2e
FrontEnd/e2e/*.js
FrontEnd/e2e/*.map

# System Files
FrontEnd/.DS_Store
FrontEnd/.Thumbs.db

backend/debug
backend/test.lhj.db
backend/test.lhj.db.lock
