.login-input-row {
  display: flex;
  justify-content: space-around;
  margin-bottom: 3em;
}

.login-input {
  border: inset;
}

.login-button-row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1em;
}